@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  font-family: 'Nunito', sans-serif;
}

input {
  color: #363636;
  font-size: 0.875rem;
}

input::placeholder {
  color: #6B7280;
  font-size: 0.875rem;
}